@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
main{
    background-color: black;
    height: 100vh;
    position: relative;
  
}
section#tamanho{
    width: 100vw;
    background-color: aquamarine;
}
section#texto {
    position: absolute;
    top: 0%;
    left: 54%;
    color: rgb(255 255 255);
    width: 500px;
    height: 300px;
}
section#texto p{
    font-size: 3vh;
}
section#texto h2{
    font-size: 5vh;
}
section#luffy{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 45vh;
}


section#luffy img{
     height: 50vh;
     border-radius: 50%;
}
