@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

section#luffy{
    background-color: rgb(0, 0, 0);

}
section#luffy img{
    width: 50%;
    border-radius: 50%;
    box-shadow: 3px 11px 29px #d50d0d70;

}
section#texto{
    
    background-color: blue;
    position: relative;
    
}
section#texto h2, p{
    width: 49%;
    color: black;
}
